@model Example.ViewModel.LoginUserViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded-4 overflow-hidden border-0">
                <div class="card-body p-5 bg-light">
                    <h2 class="mb-4 text-center text-dark" style="font-weight: 600;">Login</h2>

                    <form asp-action="Login">
                        <div asp-validation-summary="All" class="text-danger mb-4"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="UserName" class="form-control" placeholder="Username" />
                            <label asp-for="UserName"></label>
                            <span asp-validation-for="UserName" class="text-danger small"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                            <label asp-for="Password"></label>
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>

                        <div class="form-check mb-4">
                            <input asp-for="RememberMe" class="form-check-input" id="rememberMeCheck" />
                            <label class="form-check-label" for="rememberMeCheck">
                                @Html.DisplayNameFor(model => model.RememberMe)
                            </label>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-warning btn-lg text-dark">Login</button>
                            <a class="nav-link text-dark text-center" asp-area="" asp-controller="Account" asp-action="Register">Create an Account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    input.form-control:focus {
        border-color: gray !important;
        box-shadow: none !important;
        outline: none;
    }
</style>
